.form {
  margin-top: 32px;
  margin-bottom: 16px;
}

.input {
  display: block;
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 46px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-size: 30px;
  font-weight: 200;
  line-height: 38px;
  overflow-wrap: break-word;
  resize: none;
  padding: 0px 0px 8px;
  border-radius: 0px;
  border-style: none;
  transition: all 0.2s ease 0s;
  overflow: hidden;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.2);
    font-weight: 200;
  }

  &:not(:focus) {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
  }
}

.hint {
  font-size: 12px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  line-height: 0;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  min-height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(128, 128, 128);
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 4px 14px 6px;
  border-color: transparent;
  border-radius: 4px;
}

.svg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  svg {
    display: block;
    fill: rgb(128, 128, 128);
    transition: fill 0.2s ease 0s;
  }
}

.ok {
  margin-top: 3px;
}
