.question_section {
  color: white;
  width: 100%;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: 40px;
}

.sub_question_section {
  color: white;
  opacity: 0.1;
  transition: opacity 0.4s ease-out;
  padding-bottom: 80px;
}

.sub_question_section_focused {
  composes: sub_question_section;
  opacity: 1;
}

.sub_title {
  font-weight: 200;
  font-size: 20px;
}
