.rating_form {
  display: flex;
  margin: 0;
  padding: 0;
}

.box_wrapper {
  margin-right: 8px;
  width: 64px;
  height: 64px;

  input[type='checkbox'] {
    display: none;
  }

  svg {
    fill: white;
    width: 100%;
    height: 100%;
  }

  :global {
    .symbolFill {
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }
  }
}

.box_wrapper_active {
  composes: box_wrapper;

  :global {
    .symbolFill {
      opacity: 1;
    }
  }
}

.label {
  display: block;
  height: 64px;
  width: 64px;
  position: absolute;
}

.label_anim {
  composes: label;
}

.label_anim :global {
  .symbolFill {
    :local {
      opacity: 1;
      animation-name: flash;
      animation-duration: 0.5s;
    }
  }
}

.label:hover:not(.label_anim) :global .symbolFill {
  display: block;
  opacity: 0.2;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
