.container {
  height: 100vh;
}

.container::before {
  content: '';
  display: block;
  height: calc(50% - 180px);
}

// .question_container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 150px;
// }

.question_section {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 1;
  transition: opacity 0.4s ease-out;
  //collapse border;
  margin-top: -1px;
}

.question_section_focused {
  composes: question_section;
  opacity: 1;
  border-bottom: 1px dotted white;
  border-top: 1px dotted white;
}

.footer {
  height: 65%;
  opacity: 0.2;
  transition: opacity 0.4s ease-out;
}

.footer_focused {
  composes: footer;
  opacity: 1;
}
