.container {
  height: 100vh;
}

.container::before {
  content: '';
  display: block;
  height: calc(50% - 180px);
}

// .question_container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 150px;
// }

.footer {
  height: 65%;
  opacity: 0.2;
  transition: opacity 0.4s ease-out;
}

.footer_focused {
  composes: footer;
  opacity: 1;
}
